.redux-container-switch .switch-options label {
    left: auto;
    right: -10px;
}

.wp-admin .redux-container .redux-container-switch .switch-options label span {
    margin-left: -75px;
}

.vc_edit_form_elements .textarea_raw_html {
	height: 60px;
}
.redux-dev-mode-notice-container {
	display: none;
}
.term-meta-color-block {
	width: 30px;
	height: 30px;
	display: block;
}

div.icon-wrapper > span {
	margin-right: 10px;
}
.select2-results__option[aria-selected] {
	margin-bottom: 0;
}

[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after {
	margin-left: 0;
	font-size: 16px;
}
