.redux-dev-mode-notice-container {
   display: none;
}
.term-meta-color-block {
	width: 30px;
	height: 30px;
	display: block;
}

div.icon-wrapper span {
  margin-right: 10px;
  font-size: 20px;
  display: inline-flex;
}
[class^="flaticon"]:before,
[class*=" flaticon"]:before,
[class^="flaticon"]:after,
[class*=" flaticon"]:after {
    margin-left: 0;
    margin-right: 15px;
}

.rt_metabox_image .custom_preview_image {
	background: #f5f5f5;
}
