/*-------------------------------------
#. General
---------------------------------------*/
body {
  direction: rtl;
  unicode-bidi: embed;
}
.contact-wrap-layout-before:before {
	clip-path: inherit;
}

.header4-icon-right a.header-btn-new {
    -webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
}

.header-menu.menu-layout4 .container-fluid .primary-bg-brind {
    position: relative;
    z-index: 9;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
}

.progress-circular .knob-percent {
	margin-right: -95px !important;
}

.testimonial-box-layout8-new .slick-next,
.testimonial-box-layout8-new .slick-prev {
	left: 20px !important;
    right: auto !important;
}

.contact-form-services-button-light .form-group .wpcf7-form-control-wrap.phone:after,
.contact-form-services-button-light .form-group .wpcf7-form-control-wrap.contactname:after,
.contact-form-services-light .form-group .wpcf7-form-control-wrap.contactname:after,
.contact-form-services-light .form-group .wpcf7-form-control-wrap.phone:after {
	right: 15px;
	left: auto;
}
.testimonial-box-layout8-new .slick-slider > span.slick-arrow:before {
	display: none;
}
.news-meta-info li {
	display: inline-block;
}

body.rtl .header4-icon-right li.offcanvas-border:before{
	transform: rotate(-20deg);
    left: auto;
    right: -20px;
}
body.rtl .header-left-4layout li.mailto-li i{
    margin-left: 5px !important;
    margin-right: auto;
}
body.rtl .header4-icon-right li:first-child {
    margin-left: 40px;
    margin-right: auto;
}
body.rtl .topbar-information4 .header-left-4layout > li:first-child:before{
    transform: rotate(-20deg);
    left: -20px;
    right: auto;
}
body.rtl .topbar-information4 .header-left-4layout > li > i {
    margin-right: auto;
    margin-left: 10px;
}
body.rtl .site-header .main-navigation ul li ul{
	text-align: right;
}
body.rtl .site-header .main-navigation ul li ul{
	left: auto;
	right: 0;
}
body.rtl .site-header .main-navigation ul > li > ul > li > ul {
    left: -240px !important;
    top: -1px;
    width: 240px;
    right: auto !important;
}
body.rtl .site-header .main-navigation ul li ul.sub-menu li.menu-item-has-children:before{
    left: 26px;
    right: auto;
    transform: rotate(180deg);
}
body.rtl .site-header .main-navigation ul li ul li a:hover{
	padding-right: 12px;
	padding-left: auto;
}
body.rtl .site-header .main-navigation ul li ul li a:before{
    left: auto;
    right: 0;
    content: "\f0d9";
}
body.rtl .mean-bar .sidebarBtn {
    left: 15px;
    right: auto;
}
body.rtl .mean-bar .header-btn-new.mobile-btn{
    right: auto;
    left: 12%;
}
body.rtl ul,body.rtl ol {
    padding-left: auto;
    padding-right: 20px;
}
body.rtl .offscreen-navigation li.menu-item-has-children> a:after{
    right: auto;
    left: 0;
}
body.rtl .header-contact-layout2 ul li i {
    margin-right: auto;
    margin-left: 10px;
}
body.rtl .header-style-2 .menu-1v2 .header-phone-btn {
    margin-right: auto;
    margin-left: 20px;
}
body.rtl .offcanvas-list span i {
    margin-right: 0px;
    margin-left: 10px;
}
body.rtl .header-style-5 .header5-icon-right{
	margin-left: 0px;
	margin-right: 10p;
}
body.rtl .icon-box-layout6 .media-body-wrp {
    margin-left: auto;
    margin-right: 30px;
}
body.rtl .project-box-layout6 .item-excerpt .item-heading .item-title:after{
    right: -15px;
    left: auto;
}

body.rtl .team-box-layout7-new .item-img .item-icons.item-social{
    right: auto;
    left: 45px;
}
body.rtl .media-body.space-sm {
    margin-left: auto;
    margin-right: 15px;
}
body.rtl .about-box-layout-viedo .item-content .item-subtitle {
    padding-left: inherit;
    padding-right: 30px;
}
body.rtl .about-box-layout-viedo .item-content .item-subtitle:after{
    left: auto;
    right: 4px;
}
body.rtl .about-info-list .about-info li:after{
    right: 0;
    left: auto;
}
body.rtl .service-box-layout7-new .item-title:after{
    left: auto;
    right: 0;
}
body.rtl .heading-layout1new .item-subtitle{
    padding-left: 0px;
    padding-right: 30px;
}
body.rtl .heading-layout1new .item-subtitle:after{
    left: auto;
    right: 0px;
}
body.rtl .about-box-layout8r .item-content{
    right: auto;
    left: 0;
}
body.rtl .about-box-layout8r .item-content .list-item li{
    padding-left: 0px;
    padding-right: 30px;
}
body.rtl .about-box-layout8r .item-content .list-item li i{
    left: auto;
    right: 0;
}
body.rtl .rtin-insurance-tab .rtin-item ul li{
    padding-left: 0px;
    padding-right: 30px;
    text-align: right;
}
body.rtl .rtin-insurance-tab .rtin-item ul li:after{
    left: auto;
    right: 0px;
}
body.rtl .icon-box-layout5 .media-body-wrp {
    margin-left: 0px;
    margin-right: 25px;
}
body.rtl .single-team-box-layout1 .item-content .item-mail .item-list {
    margin-right: 0;
    margin-left: 15px;
}
body.rtl .single-team-box-layout1 .item-content .item-mail i,body.rtl .single-team-box-layout1 .item-content .item-phone i{
    margin-right: 0px;
    margin-left: 10px;
}

body.rtl .single-team-box-layout1 .media-body-content .team-list1 li i{
    margin-right: 0px;
    margin-left: 10px;
}

body.rtl .single-team-box-layout1 .media-body-content .team-list2 li i{
    margin-right: 0px;
    margin-left: 10px;
}
body.rtl .project-box-layout1 .item-footer .item-title{
    text-align: right;
    padding-left: 0;
    padding-right: 15px;
}
body.rtl .project-box-layout1 .item-footer .item-title:after,body.rtl .project-box-layout6-new .project-box .item-title:after,body.rtl .sidebar-widget-area .widget .widget-title:after,body.rtl #respond .comment-reply-title:after,body.rtl .comments-area h3.comment-title:after,body.rtl .footer-wrap-fix-off .footer-box-layout1 ul.menu > li:before{
    left: auto;
    right: 0px;
}
body.rtl .project-box-layout6-new .project-box .item-content{
    left: auto;
    right: 30px;
}
body.rtl .project-box-layout6-new .project-box .item-title{
    padding-left: 0px;
    padding-right: 12px;
}
body.rtl .single-project-related .related-wrp .media-body .item-title:after{
    right: -15px;
    left: auto;
}
body.rtl .testimonial-box-layout1.layout-4 .media-body,body.rtl .slick-carousel-content9 .media-body{
    margin-left: auto;
    margin-right: 3em;
}
body.rtl .service-box-layout6-new .item-content .details-link{
    padding-left: 0px;
    padding-right: 30px;
}
body.rtl .service-box-layout6-new .item-content .details-link .details-ghost-btn-svr span:after{
    left: -15px;
    right: auto;
}
body.rtl .testimonial-box-layout9-new .slide-content-media .media-body-footer {
    border-right: 3px solid #ee212b;
    border-left-width: 0px;
    padding-right: 15px;
    padding-left: 0px;
}
body.rtl .entry-content-wrp {
    padding-left: 0px;
    padding-right: 30px;
}
body.rtl .sidebar-widget-area .widget .widget-title{
    padding-left: 0;
    padding-right: 30px;
}
body.rtl .news-meta-info.mar20-ul li {
    margin-right: 0px;
    margin-left: 20px;
}
body.rtl .news-meta-info.mar20-ul li i {
    margin-right: 0px;
    margin-left: 5px;
}
body.rtl .post-each .entry-thumbnail-area .post-item-date i {
    margin-right: 0;
    margin-left: 10px;
}
body.rtl #respond .comment-reply-title,body.rtl .comments-area h3.comment-title{
    padding-left: 0;
    padding-right: 30px;
}
body.rtl .comments-area .main-comments .comments-body {
    margin-right: 3rem;
}
body.rtl .comments-area .main-comments .imgholder {
    margin-left: 20px;
    margin-right: 0px;
}
body.rtl .comments-area .main-comments .comment-meta .comment-meta-left {
    float: right;
}
body.rtl .comments-area .main-comments .comment-meta .reply-area {
    float: left;
}
body.rtl .media-body.space-md {
    margin-left: 0;
    margin-right: 20px;
}
body.rtl .contact-box-layout15 .media .media-body ul{
    padding-right: 0px;
}
body.rtl .overly-sidebar-wrapper .overly-sidebar-content .circle-btn{
    left: 30px;
    right: auto;
}
body.rtl .top-footer-layout1 .footer-social ul li{
    margin-left: 4px;
    margin-right: 0px;
}
body.rtl .footer-wrap-fix-off .footer-box-layout1 ul.menu > li{
    padding-right: 22px;
    padding-left: 0px;
}

body.rtl .service-box-layout2 .media-body-wrp{
  text-align: right;
}
body.rtl .rt-isotope-wrapper .rt-isotope-tab-wrp .isotop-btn a:first-child {
    border-right: none;
}
body.rtl .rt-isotope-wrapper .rt-isotope-tab-wrp .isotop-btn a:last-child {
    border-right: inherit;
}
body.rtl .testimonial-box-layout8-new.swiper-container-vertical .navigation{
    left: 18px;
    right:auto;
}
body.rtl .overly-sidebar-wrapper.show .overly-sidebar-content{
    margin: inherit;
}
body.rtl .icon-layout-4 .service-box-media.left {
    text-align: right;
}
