body {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #707173;
	font-weight: 400;
	height: 100%;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: #ffffff;
	overflow: inherit;
	overflow-x: hidden;
}
.edit-post-visual-editor {
    font-family: 'Roboto', sans-serif;
}
a:link, a:visited {
  color: #ee212b;
  text-decoration: none;
}
a:hover {
  color:  #d21c1d;
}
p {
	margin: 0 0 20px 0;
	line-height: 28px;
}
figure {
	margin: 1em 0px;
}
.editor-styles-wrappe {
  color: #707173;
}
.wp-block.editor-post-title__block, 
.wp-block.editor-block-list__block {
    max-width: 1210px;
}
@media screen and ( min-width: 1199px ) {
	.wp-block {
		max-width: 1210px;
		width: 100%;
	}
}
@media screen and ( min-width: 768px ) {
	.wp-block {
		max-width: 1210px;
		width: 100%;
	}
}
@media(min-width: 600px) {
	.block-editor-block-list__layout .block-editor-block-list__block[data-align=full] {
		margin-left: auto;
		margin-right: auto;
	}
	.block-editor-block-list__layout .block-editor-block-list__block[data-align=full]>.block-editor-block-list__block-edit {
		margin-left: -28px;
		margin-right: -28px;
	}
	[data-type="core/columns"][data-align=full] .wp-block-columns>.editor-inner-blocks {
		padding-left: 0;
		padding-right: 0;
	}
}
[data-block] {
	margin-top: 23px;
	margin-bottom: 23px;
}
.wp-block[aria-label="Block: Spacer"] {
	clear: both;
}
.block-editor-block-list__layout .block-editor-default-block-appender>.block-editor-default-block-appender__content, .block-editor-block-list__layout>.block-editor-block-list__block>.block-editor-block-list__block-edit, .block-editor-block-list__layout>.block-editor-block-list__layout>.block-editor-block-list__block>.block-editor-block-list__block-edit {
    margin-top: 23px;
    margin-bottom: 23px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit,
.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit [data-block] {
	margin-top: 0;
	margin-bottom: 0;
}
/*********** typography ***********/
.wp-block h1,
.wp-block h2,
.wp-block h3,
.wp-block h4,
.wp-block h5,
.wp-block h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-post-title__block .editor-post-title__input {
	font-family: 'Inter', sans-serif;
	margin: 0 0 20px 0;
	color: #393738;

}
.editor-styles-wrapper h1,
.wp-block-freeform.block-library-rich-text__tinymce h1,
h1 {
	font-size: 46px;
	font-weight: 800;
	line-height: 54px;
	color: #393738;
	font-family: 'Inter', sans-serif;
}
.editor-styles-wrapper h2,
.wp-block-freeform.block-library-rich-text__tinymce h2,
h2{
	font-size: 36px;
	font-weight: 800;
	line-height: 46px;
	color: #393738;
	font-family: 'Inter', sans-serif;
}

.editor-styles-wrapper h3,
.wp-block-freeform.block-library-rich-text__tinymce h3,
h3{
	font-size: 28px;
	font-weight: 800;
	line-height: 38px;
	color: #393738;
	font-family: 'Inter', sans-serif;
}
.editor-styles-wrapper h4,
.wp-block-freeform.block-library-rich-text__tinymce h4,
h4 {
	font-size:22px;
	font-weight: 800;
	line-height: 32px;
	color: #393738;
	font-family: 'Inter', sans-serif;
}
.editor-styles-wrapper h5,
.wp-block-freeform.block-library-rich-text__tinymce h5,
h5 {
	font-size: 18px;
	font-weight: 800;
	line-height: 28px;
	color: #393738;
	font-family: 'Inter', sans-serif;
}
.editor-styles-wrapper h6,
.wp-block-freeform.block-library-rich-text__tinymce h6,
h6 {
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	color: #393738;
	font-family: 'Inter', sans-serif;
}
/********** blockquote ***********/

blockquote {
    border-left: 2px solid  #ee212b;	
    position: relative;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    z-index: 1;
    padding: 40px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    color: #707173;
}
blockquote:after {
    content: "\f10d";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	font-size: 60px;
	opacity: 0.1;
	bottom: 20px;
	right: 3.125rem;
	z-index: 1;
}

blockquote p {
	position: relative;
    margin-bottom: 0;
    line-height: 1.6;
}
blockquote cite {
    display: block;
    font-size: 16px;
    color:  #393738;
    font-weight: 500;
    font-style: normal;
    margin-top: 12px;
	position: relative;
}
@media(max-width:480px) {
	blockquote {
		padding-left: 30px !important;
		padding-right: 30px !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: 2px solid  #ee212b;
	border-right: none;
	padding-left: 40px;
	margin: 40px auto;
}
.wp-block-quote__citation {
	position: relative;
	display: block;
    font-size: 16px;
    color:  #ee212b;
    font-weight: 500;
    font-style: normal;
    margin-top: 12px;
}

.wp-block-quote__citation em {
	font-style: normal;
}
.wp-block-quote__citation br {
	display: none;
}
.wp-block-quote.is-large, 
.wp-block-quote.is-style-large {
	padding: 30px 40px 30px 40px;
    margin: 40px auto;
    border-left: 2px solid  #ee212b;
}

.wp-block-quote.is-large p, 
.wp-block-quote.is-style-large p {
	font-size: 26px;
}
.wp-block-quote[style*="text-align: right"],
.wp-block-quote.has-text-align-right {
	border-right: none;
	text-align: right;
}
.wp-block-columns.has-3-columns .wp-block-quote {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}
/*pullquote*/
.wp-block-pullquote__citation {
	position: relative;
	font-size: 16px;
    color:  #ee212b;
    font-weight: 500;
    font-style: normal;
	margin-top: 12px;
    text-transform: capitalize;
}
.wp-block-pullquote {
	border-top: 3px solid  #ee212b;
    border-bottom: 3px solid  #ee212b;
	margin-bottom: 20px;
    padding: 0;
	text-align: left;
}
.wp-block-pullquote blockquote {
	margin: 40px auto;
}
.wp-block-pullquote blockquote p {
	font-size: 22px;
}
.wp-block-pullquote.alignleft p, 
.wp-block-pullquote.alignright p {
    font-size: 20px;
}
.wp-block-pullquote.alignleft blockquote,
.wp-block-pullquote.alignright blockquote {
	padding-left: 40px;
}

.has-roofix-gray-background-color {
    background-color: #707173;
}
.has-roofix-primary-background-color {
	background-color: rgb(238, 33, 43);
}
.wp-block-pullquote.is-style-solid-color {
	border: none;
	margin-bottom: 0;
}
.wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 100%;
	color: #ffffff;
}
.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 32px;
}
.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation {
	color: inherit;
}
/*********** pre ***********/
pre {
	overflow: auto;
	color: #707173;
}
code, kbd, pre, samp, tt, var {
	font-family: monospace, monospace;
	font-size: 1em;
}
pre {
	background: #ffffff;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
mark, ins {
    background: #fff9c0;
    text-decoration: none;
}
.editor-rich-text__tinymce code,
.block-editor-rich-text__editable code {
	background: transparent;
	color:  #ee212b;
}
.wp-block-freeform.block-library-rich-text__tinymce pre {
    background: #ffffff;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
	color: #707173;
    font-size: 1em;
}
/*********** Table ***********/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0;
    width: 100%;
}
table th, 
table td {
	padding: 5px;
    border: 1px solid #dedede;
	text-align: center;
}
table a {
	text-decoration: none;
	color: #ee212b;
}
table th .wp-block-table__cell-content, 
table td .wp-block-table__cell-content {
	padding: 0;
}
table td .wp-block-table__cell-content br {
	display: none;
}
.mce-item-table, 
.mce-item-table td, 
.mce-item-table th, 
.mce-item-table caption {
	border: 1px solid #dedede;
}
/************ List style ************/
ul ul, 
ol ul {
	list-style: disc;
}
ul li {
	margin-bottom: 0;
}
.wp-block-latest-posts.is-grid li {
    margin: 0 0 10px 0;
}
.wp-block-categories ul,
ul.wp-block-archives {
    padding-left: 20px;
    margin-bottom: 0px;
	margin-top: 0px;
    text-align: left;
    margin-left: 20px;
}
.wp-block-categories ul ul,
ul.wp-block-archives ul {
	margin-top: 0;
}
.block-library-list .editor-rich-text__tinymce {
	margin-left: 20px;
	padding-left: 20px;
}
.editor-rich-text__tinymce {
	white-space: inherit;
}
.block-library-list ul {
	padding-left: 20px;
}

/************ block separator ************/
.wp-block-separator {
    border: none;
    border-bottom: 2px solid #cccccc;
    margin: 50px 0;
    text-align: left;
    background: transparent;
}
.wp-block-separator.is-style-wide {
	border-bottom: 1px solid #cccccc;
}
.wp-block-separator.is-style-dots {
    border-bottom: none;
    height: auto;
    line-height: 1;
    max-width: none;
    text-align: center;
}
.wp-block-latest-posts {
	margin-bottom: 20px;
    padding-left: 0;
    margin-left: 20px;
}
.wp-block-latest-posts.is-grid {
	padding-left: 0px;
}
/*Button*/
a.wp-block-button__link:not([href]):not([tabindex]) {
	color: #ffffff;
}
a.wp-block-button__link:not([href]):not([tabindex]):hover {
	color: #ffffff;
}
.wp-block-button.is-style-outline a.wp-block-button__link:not([href]):not([tabindex]) {
	color: #ee212b;
}
.wp-block-button.is-style-outline a.wp-block-button__link:not([href]):not([tabindex]):hover {
	color: #d21c1d;
}
.wp-block-button .wp-block-button__link {
	background-color: #ee212b;
    color: #ffffff;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 14px 24px;
	font-size: 15px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    z-index: 2;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wp-block-button .wp-block-button__link:hover {
	color: #ffffff;
	background: #d21c1d;
}
.wp-block-button.is-style-outline .wp-block-button__link {
	background: transparent;
    border: 2px solid #ee212b;
    color: #ee212b;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover {
	border-color: #d21c1d;
	color: #d21c1d;
}
.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0;
}
/*button end*/

.block-editor-block-list__layout .block-editor-block-list__block.has-warning .block-editor-block-list__block-edit:after {
    background-color: transparent;
}
.alignleft {
	float: left;
	margin-bottom: 15px;
    margin-right: 30px;
	margin-top: 10px;
}
.alignright {
	float: right;
	margin-left: 30px;
	margin-bottom: 15px;
	margin-top: 10px;
}
p.wp-block-paragraph.has-background {
	color: #eee;
}

.wp-block-cover p.block-editor-block-list__block[data-type="core/paragraph"] {
    color: #fff;
    font-size: 2em;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    padding: 14px;
}
.wp-block-freeform.block-library-rich-text__tinymce code {
    padding: 0px;
    border-radius: 0px;
    color: #ee212b;
    background: transparent;
    font-family: monospace, monospace;
    font-size: 1em;
}
.mce-content-body {
    line-height: inherit;
}
.block-editor-block-list__block[data-type="core/paragraph"] p {
	line-height: inherit;
}
.block-editor-block-list__block[aria-label="Block: Cover"]> .block-editor-block-list__block-edit [data-block] {
  margin-top: 0;
}
.wp-block-freeform .mceTemp .wp-caption {
	margin: 0 auto 15px;
}
.wp-block-freeform .mceTemp .wp-caption .wp-caption-dd {
	text-align: center;
}
.wp-block-freeform .mceTemp .wp-caption.aligncenter .wp-caption-dd a {
	display: inline-block;
}
.wp-block-freeform.block-library-rich-text__tinymce .alignleft {
	margin-bottom: 15px;
    margin-right: 30px;
	margin-top: 10px;
}
.wp-block-freeform.block-library-rich-text__tinymce .alignright {
	margin-left: 30px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	border-left: 2px solid #ee212b;
    margin: 40px auto;
    padding: 30px 40px 30px 40px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
}
.wp-block-columns.has-3-columns figure.wp-block-image {
	margin-left: inherit;
	margin-right: inherit;
}
.wp-block-file .wp-block-file__button {
	background: #32373c;
	padding: 10px 20px;
	line-height: 1;
}
.wp-block-file a.wp-block-file__button:active, 
.wp-block-file a.wp-block-file__button:focus, 
.wp-block-file a.wp-block-file__button:hover, 
.wp-block-file a.wp-block-file__button:visited {
	opacity: 0.85;
}
.block-editor-rich-text p.has-large-font-size {
	line-height: 1.2;
}
.wp-block-cover__inner-container .wp-block-paragraph a {
	cursor: pointer;
	color: #ffffff;
}
.wp-block-cover__inner-container .wp-block-paragraph a:hover {
	text-decoration: underline;
}
.wp-block-image.size-full {
	width: 100%;
	display: table;
}
.wp-block-cover {
    margin-top: 0px;
    margin-bottom: 23px;
}
.has-medium-font-size {
    font-size: 20px;
}
.wp-block-html .block-editor-plain-text {
    font-family: inherit;
    color: #707173;
    padding: 0;
    border: none;
    border-radius: 4px;
    max-height: initial;
    font-size: 16px;
}
.gallery .gallery-item .gallery-icon {
    margin: 5px;
}
.gallery .gallery-item .gallery-caption {
    font-size: 13px;
	color: #555d66;
	line-height: 1.4;
	margin: 0;
}
.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption .wp-caption-dd {
	font-size: 13px;
	color: #555d66;
    padding-top: .5em;
    margin: 0;
	line-height: 1.4;
}
.blocks-gallery-caption, 
.wp-block-embed figcaption, 
.wp-block-image figcaption {
    margin-top: 0;
    margin-bottom: 0;
    color: #555d66;
    font-size: 13px;
	line-height: 1.4;
    text-align: center;
}
.blocks-gallery-grid .blocks-gallery-image figcaption, 
.blocks-gallery-grid .blocks-gallery-item figcaption, 
.wp-block-gallery .blocks-gallery-image figcaption, 
.wp-block-gallery .blocks-gallery-item figcaption {
	line-height: 1.4;
}
p:last-child img.size-full.alignright {
	clear: both;
	padding-top: 10px;
}


/*Bock cover*/
.wp-block-cover .has-roofix-primary-color a {
	color: rgb(238, 33, 43);
}
.wp-block-cover .has-roofix-secondary-color a {
	color: rgb(22, 25, 120);
}
.wp-block-cover .has-roofix-gray-color a {
	color: rgb(62, 62, 62);
}
.wp-block-cover .has-roofix-dark-color a {
	color: rgb(17, 17, 17);
}
.wp-block-cover .has-roofix-light-color a {
	color: rgb(255, 255, 255);
}
.wp-block-button .has-roofix-primary-color {
	color: rgb(238, 33, 43);
}
.wp-block-button .has-roofix-secondary-color {
	color: rgb(22, 25, 120);
}
.wp-block-button .has-roofix-gray-color {
	color: rgb(62, 62, 62);
}
.wp-block-button .has-roofix-dark-color {
	color: rgb(17, 17, 17);
}
.wp-block-button .has-roofix-light-color {
	color: rgb(255, 255, 255);
}
/*Bock button bg color*/
.wp-block-button .has-roofix-primary-background-color {
	background-color: rgb(238, 33, 43);
}
.wp-block-button .has-roofix-secondary-background-color {
	background-color: rgb(22, 25, 120);
}
.wp-block-button .has-roofix-gray-background-color {
	background-color: rgb(62, 62, 62);
}
.wp-block-button .has-roofix-dark-background-color {
	background-color: rgb(17, 17, 17);
}
.wp-block-button .has-roofix-light-background-color {
	background-color: rgb(255, 255, 255);
}

.wp-block-cover a{
	color: #fff;

}
.wp-block-cover a:hover{
	text-decoration: underline;
}