/*
Template:       roofix
Theme Name:     Roofix Child | Shared by WPTry.org
Theme URI:      https://radiustheme.com/demo/wordpress/themes/roofix
Author:         RadiusTheme
Author URI:     https://www.radiustheme.com
Description:    Roofix is a clean and modern WordPress Theme. This theme comes with all necessary features and pages for a Roofing website.
Version:        1.0
Tags:           two-columns, three-columns, left-sidebar, right-sidebar, custom-colors, custom-menu, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, blog
License:        Envato split License
License URI:    https://themeforest.net/licenses/terms/regular
*/
